<div class="user-info-container" style="padding:2rem 2.5rem 1.5rem 0">
    <form class="layui-form" lay-filter="info-form">
        <div class="layui-form-item">
            <label class="layui-form-label">帐号</label>
            <div class="layui-input-block">
                <input type="text" value="" required placeholder=""
                       class="layui-input account">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="text" value="" required placeholder=""
                       class="layui-input password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" value="" required class="layui-input name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" value=""
                       class="layui-input age">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" class="sex" value="男" title="男" name="sex">
                <input type="radio" class="sex" value="女" title="女" checked name="sex">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">毕业大学</label>
            <div class="layui-input-block">
                <input type="text" value="" name="title"
                       class="layui-input graduate">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所属学院</label>
            <div class="layui-input-block">
                <input type="text" value="" class="layui-input apartment">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">专业</label>
            <div class="layui-input-block">
                <input type="text" value="" class="layui-input major">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <input type="text" name="title" value="" class="layui-input telephone">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" value="" class="layui-input mail">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="save-btn">保存</button>
            </div>
        </div>
    </form>
</div>
<script>
    layui.use('form', function () {
        var from = layui.form;
        $("#save-btn").click(function () {
            var params = {
                account: $(".account").val(),
                password: $(".password").val(),
                name: $(".name").val(),
                age: $(".age").val(),
                sex: $(".sex").val(),
                apartment: $(".apartment").val(),
                graduate: $(".graduate").val(),
                major: $(".major").val(),
                telephone: $(".telephone").val(),
                mail: $(".mail").val()
            };
            $.post("/VideoOnlinePlay/user/add", params, function (res) {
                alert(res.message);
                Base.openPage("add");
            })
        });
    });
</script>
