<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rambler.dao.CourseCommentMapper" >
  <resultMap id="BaseResultMap" type="com.rambler.beans.CourseComment" >
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="comment_id" property="commentId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.rambler.beans.CourseComment" >
    insert into course_comment (course_id, comment_id)
    values (#{courseId,jdbcType=VARCHAR}, #{commentId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rambler.beans.CourseComment" >
    insert into course_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="commentId != null" >
        comment_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null" >
        #{commentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>