<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>视频详情</title>
		<link rel="stylesheet" href="../../../static/layui/css/layui.css">
		<script src="../../../static/layui/layui.js"></script>
		<link rel="stylesheet" href="../../../static/css/common/header.css">
		<link rel="stylesheet" href="../../../static/css/detail.css">
		<link rel="stylesheet" href="../../../static/css/common/footer.css">
	</head>
	<body>
		<div class="rambler-header">
			<div class="rambler-title">
				<h1>会计培训</h1>
			</div>
			<div class="user">
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item"><a href="">关于</a></li>
					<li class="layui-nav-item"><a href="">帮助</a></li>
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
							<span>登录</span>
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">基本资料</a></dd>
							<dd><a href="">安全设置</a></dd>
							<dd><a href="">注销</a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="detail-content">
			<div class="detail-video">
				<video src="http://localhost:8080/VideoOnlinePlay/static/upload/test111.mp4" controls="controls">
				</video>
			</div>
			<div class="comment mod-post">
				<div>
					<h3>课程评价</h3>
					<button class="js-pub-btn moco-btn moco-btn-gray-l">我要评论</button>
				</div>
				<ul>
					<li>
						<div class="wenda-listcon mod-qa-list post-row clearfix" data-id="611142">
							<div class="headslider qa-medias l"> <a href="/u/1060505/courses" class="media" target="_blank" title="单单happy"><img
									 src="//img.mukewang.com/5716ebe900015f9a04330398-40-40.jpg" width="40" height="40"></a> </div>
							<div class="wendaslider qa-content">
								<div class="tit"> <a href="/u/1060505/courses" target="_blank">用户名1</a> </div>
								<div class="cnt">老师表达清晰，666，感谢</div>
								<div class="replymegfooter qa-footer clearfix">
									<div class="l-box l">
									</div> <span class="r timeago">2020-03-04</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="wenda-listcon mod-qa-list post-row clearfix" data-id="611142">
							<div class="headslider qa-medias l"> <a href="/u/1060505/courses" class="media" target="_blank" title="单单happy"><img
									 src="//img.mukewang.com/5716ebe900015f9a04330398-40-40.jpg" width="40" height="40"></a> </div>
							<div class="wendaslider qa-content">
								<div class="tit"> <a href="/u/1060505/courses" target="_blank">用户2</a> </div>
								<div class="cnt">老师表达清晰，666，感谢</div>
								<div class="replymegfooter qa-footer clearfix">
									<div class="l-box l">
									</div> <span class="r timeago">2020-03-04</span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<footer id="block-AR" class="qy-footer" data-asyn-pb="true">
			<div class="footer-content">
				<div class="footer-law">
					<ul id="AR_ftList" class="law-list">
						<li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_6" title="广播电视节目制作经营许可证 (京)字第1938号"
							 class="law-link ">
								广播电视节目制作经营许可证 (京)字第1938号
							</a></li>
						<li class="law-item"><a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow" rseat="711219_footer_fawu_7"
							 title="京ICP备11032965号" class="law-link ">
								京ICP备11032965号
							</a></li>
						<li class="law-item"><a href="https://www.hd315.gov.cn/beian/view.asp?bianhao=010202012091700001" target="_blank"
							 rel="nofollow" rseat="711219_footer_fawu_8" title="经营性网站备案信息" class="law-link ">
								经营性网站备案信息
							</a></li>
						<li class="law-item"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020024" target="_blank"
							 rel="nofollow" rseat="711219_footer_fawu_9" title="京公网安备 11010802020024号" class="law-link ">
								京公网安备 11010802020024号
							</a></li>
						<li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_10" title="增值电信业务经营许可证 B2-20120273"
							 class="law-link ">
								增值电信业务经营许可证 B2-20120273
							</a></li>
						<li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_11" title="互联网药品信息服务资格证书"
							 class="law-link ">
								互联网药品信息服务资格证书
							</a></li>
						<li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_12" title="食品经营许可证 JY11108111598788"
							 class="law-link ">
								食品经营许可证 JY11108111598788
							</a></li>
					</ul>
				</div>
				<div id="AR_jubaomenu" class="footer-jubao"><a href="http://www.12377.cn" target="_blank" rseat="711219_footer" rel="nofollow"
					 class="jubao-lk">中国互联网举报中心</a> <i class="cutline"></i> <a href="//www.12377.cn/node_548446.htm" rseat="711219_footer"
					 target="_blank" rel="nofollow" class="jubao-lk">网络举报APP下载</a> <i class="cutline"></i> <a href="//www.iqiyi.com/common/announce.html"
					 target="_blank" rseat="711219_footer" class="jubao-lk">反盗版和反盗链权利声明</a> <i class="cutline"></i> <span class="jubao-lk unlink">违法和不良信息举报电话：400-923-7171</span>
					<i class="cutline"></i> <span class="jubao-lk">举报邮箱：<a href="mailto:jubao365@qiyi.com" rel="nofollow" class="link-txt">jubao365@qiyi.com</a></span>
					<span>
						<!---->
						<!----></span></div>
			</div>
			<div id="AR_copyright" class="copyright">
				Copyright © 2020
				<a target="_blank" rseat="711219_footer" href="//www.iqiyi.com/" class="copyright-lk">爱奇艺</a> <span>All Rights
					Reserved</span></div>
		</footer>
	</body>
</html>
