<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--    <link rel="stylesheet" href="/VideoOnlinePlay/static/layui/css/layui.css">-->
    <!--    <script src="/VideoOnlinePlay/static/layui/layui.js"></script>-->
    <!--    <link rel="stylesheet" href="/VideoOnlinePlay/static/css/common/header.css">-->
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <script src="../../../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../../../static/css/common/header.css">
    <link rel="stylesheet" href="../../../static/css/index.css">
    <title>课程分类</title>
</head>
<body>
<div class="rambler-header">
    <div class="rambler-title"><h1>会计培训</h1></div>
    <div class="user">
        <a href="">登录</a>
        <a href="">注册</a>
    </div>
</div>
<div class="content">
    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="topic">
        <div class="layui-row layui-col-space30">
            <div class="layui-col-md2">
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                </span>
                <br>
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                </span>
            </div>
            <div class="layui-col-md2">
               <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                </span>
                <br>
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                </span>
            </div>
            <div class="layui-col-md3">
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                    <a href="">知识</a>
                    <a href="">法律</a>
                </span>
                <br>
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                    <a href="">知识</a>
                    <a href="">法律</a>
                </span>
            </div>
            <div class="layui-col-md5">
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                    <a href="">知识</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                </span>
                <br>
                <span class="layui-breadcrumb" lay-separator="|">
                    <a href="">娱乐</a>
                    <a href="">八卦</a>
                    <a href="">体育</a>
                    <a href="">搞笑</a>
                    <a href="">知识</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                    <a href="">法律</a>
                </span>
            </div>
        </div>
    </div>

    <div style="overflow-x: hidden;padding: 1rem 2rem">
        <div class="title-1">
            <h1>模块一</h1>
        </div>
        <div class="layui-row layui-col-space16">
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="overflow-x: hidden;padding: 1rem 2rem">
        <div class="title-1">
            <h1>模块二</h1>
        </div>
        <div class="layui-row layui-col-space16">
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md2">
                <div class="video-part">
                    <img src="../../../static/images/1.jpg" alt="" width="100%">
                    <div class="video-description">
                        <p>钟南山：必须重视入境人员检测,钟南山：必须重视入境人员检测钟南山：必须重视入境人员检测</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer" style="height: 1000px"></div>
</body>
<script>
    layui.use(['carousel', 'element'], function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            , height: '400px'
            //,anim: 'updown' //切换动画方式
        });
    });
</script>
</html>