<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的考试结果</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <script src="../../../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../../../static/css/common/header.css">
    <link rel="stylesheet" href="../../../static/css/index.css">
    <link rel="stylesheet" href="../../../static/css/common/footer.css">
    <script src="/static/js/jquery3.3.1.js"></script>
    <script src="/static/js/base.js"></script>
</head>
<body>
<div class="rambler-header">
    <div class="rambler-title">
        <h1><a href="/">会计培训</a></h1>
    </div>
    <div class="user">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/page/about" target="_blank">关于</a></li>
            <li class="layui-nav-item"><a href="/page/help" target="_blank">帮助</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/upload/images/default.png" alt class="layui-nav-img" id="user-header-img">
                    <span id="user-name-span">登录</span>
                </a>
                <!-- 用户角色的 -->
                <dl class="layui-nav-child" id="dynamic-menu">
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="content" style="padding:2rem">
    <div class="part">
        <table id="question" lay-filter="question"></table>
    </div>
</div>
<footer id="block-AR" class="qy-footer" data-asyn-pb="true">
    <div class="footer-content">
        <div class="footer-law">
            <ul id="AR_ftList" class="law-list">
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_6"
                                        title="广播电视节目制作经营许可证 (京)字第1938号"
                                        class="law-link ">
                    广播电视节目制作经营许可证 (京)字第1938号
                </a></li>
                <li class="law-item"><a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow"
                                        rseat="711219_footer_fawu_7"
                                        title="京ICP备11032965号" class="law-link ">
                    京ICP备11032965号
                </a></li>
                <li class="law-item"><a href="https://www.hd315.gov.cn/beian/view.asp?bianhao=010202012091700001"
                                        target="_blank"
                                        rel="nofollow" rseat="711219_footer_fawu_8" title="经营性网站备案信息" class="law-link ">
                    经营性网站备案信息
                </a></li>
                <li class="law-item"><a
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020024"
                        target="_blank"
                        rel="nofollow" rseat="711219_footer_fawu_9" title="京公网安备 11010802020024号" class="law-link ">
                    京公网安备 11010802020024号
                </a></li>
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_10"
                                        title="增值电信业务经营许可证 B2-20120273"
                                        class="law-link ">
                    增值电信业务经营许可证 B2-20120273
                </a></li>
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_11"
                                        title="互联网药品信息服务资格证书"
                                        class="law-link ">
                    互联网药品信息服务资格证书
                </a></li>
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_12"
                                        title="食品经营许可证 JY11108111598788"
                                        class="law-link ">
                    食品经营许可证 JY11108111598788
                </a></li>
            </ul>
        </div>
        <div id="AR_jubaomenu" class="footer-jubao"><a href="http://www.12377.cn" target="_blank" rseat="711219_footer"
                                                       rel="nofollow"
                                                       class="jubao-lk">中国互联网举报中心</a> <i class="cutline"></i> <a
                href="//www.12377.cn/node_548446.htm" rseat="711219_footer"
                target="_blank" rel="nofollow" class="jubao-lk">网络举报APP下载</a> <i class="cutline"></i> <a
                href="//www.iqiyi.com/common/announce.html"
                target="_blank" rseat="711219_footer" class="jubao-lk">反盗版和反盗链权利声明</a> <i class="cutline"></i> <span
                class="jubao-lk unlink">违法和不良信息举报电话：400-923-7171</span>
            <i class="cutline"></i> <span class="jubao-lk">举报邮箱：<a href="mailto:jubao365@qiyi.com" rel="nofollow"
                                                                   class="link-txt">jubao365@qiyi.com</a></span>
            <span></span></div>
    </div>
    <div id="AR_copyright" class="copyright">
        Copyright © 2020
        <a target="_blank" rseat="711219_footer" href="//www.iqiyi.com/" class="copyright-lk">爱奇艺</a> <span>All Rights
					Reserved</span></div>
</footer>
</body>
<script>
    $(document).ready(function () {
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#question'
                , height: 580
                , url: '/question/list/' //数据接口
                , page: true //开启分页
                , cols: [[ //表头
                    {field: 'course', title: '课程名', width: 110}
                    , {field: 'question1', title: '问题1', width: 80}
                    , {field: 'question2', title: '问题2', width: 80}
                    , {field: 'question3', title: '问题3', width: 100}
                    , {field: 'question4', title: '问题4', width: 110}
                    , {field: 'question5', title: '问题5', width: 100}
                    , {field: 'question6', title: '问题6', width: 180}
                    , {field: 'question7', title: '问题7', width: 150}
                    , {field: 'question8', title: '问题8', width: 150}
                    , {field: 'question9', title: '问题9', width: 150}
                    , {field: 'question10', title: '问题10', width: 150}
                    , {field: 'score', title: '分数', width: 150}
                ]]
            });
        });
    });
</script>
</html>
