<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评价详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <script src="../../../static/layui/layui.js"></script>
    <link rel="stylesheet" href="../../../static/css/common/header.css">
    <link rel="stylesheet" href="../../../static/css/index.css">
    <link rel="stylesheet" href="../../../static/css/common/footer.css">
    <script src="/static/js/jquery3.3.1.js"></script>
    <script src="/static/js/base.js"></script>
</head>
<body>
<div class="rambler-header">
    <div class="rambler-title">
        <h1>会计培训</h1>
    </div>
    <div class="user">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/page/about" target="_blank">关于</a></li>
            <li class="layui-nav-item"><a href="/page/help" target="_blank">帮助</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/upload/images/default.png" alt class="layui-nav-img" id="user-header-img">
                    <span id="user-name-span">登录</span>
                </a>
                <!-- 用户角色的 -->
                <dl class="layui-nav-child" id="dynamic-menu">
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="content" style="padding:2rem;margin:auto;width:80%">
    <form class="layui-form layui-form-pane" lay-filter="questionnaire">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">1.您现在读的是：</label>
            <div class="question-body">
                <input type="radio" name="question1" value="A" title="A : 大专"><br>
                <input type="radio" name="question1" value="B" title="B : 本科"><br>
                <input type="radio" name="question1" value="C" title="C : 其他"><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">2.您认为目前的课程设置能达到您学习深造的目的吗?</label>
            <div class="question-body">
                <input type="radio" name="question2" value="A" title="A : 能"><br>
                <input type="radio" name="question2" value="B" title="B : 不能"><br>
                <input type="radio" name="question2" value="C" title="C : 作用不大"><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">3.如果您学习深造的目的是为了提高实操能力，您同意下面的哪种做法：</label>
            <div class="question-body">
                <input type="radio" name="question3" value="A" title="A : 单独开设会计模拟实训课程"><br>
                <input type="radio" name="question3" value="B" title="B : 完善教学内容，加入会计实操训练部分"><br>
                <input type="radio" name="question3" value="C" title="C : 以上都同意"><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">4.目前的教学内容能否满足会计职称考试需要？</label>
            <div class="question-body">
                <input type="radio" name="question4" value="A" title="A : 能"><br>
                <input type="radio" name="question4" value="B" title="B : 不能"><br>
                <input type="radio" name="question4" value="C" title="C : 不知道"><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">5.您觉得本专业课程的实用性如何 </label>
            <div class="question-body">
                <input type="radio" name="question5" value="A" title="A : 非常强　"><br>
                <input type="radio" name="question5" value="B" title="B : 比较强"><br>
                <input type="radio" name="question5" value="C" title="C : 不太强"><br>
                <input type="radio" name="question5" value="D" title="D : 没实用性"><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">6.您觉得经过学习，实践能力有所提高吗？ </label>
            <div class="question-body">
                <input type="radio" name="question6" value="A" title="A : 有较大提高"><br>
                <input type="radio" name="question6" value="B" title="B : 一般"><br>
                <input type="radio" name="question6" value="C" title="C : 提高程度较小 "><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">7. 您觉得所学专业课对掌握专业技能是否有帮助 </label>
            <div class="question-body">
                <input type="radio" name="question7" value="A" title="A : 有很大帮助"><br>
                <input type="radio" name="question7" value="B" title="B : 一般"><br>
                <input type="radio" name="question7" value="C" title="C : 帮助较小"><br>
            </div>
        </div>
        <div class="layui-form-item layui-form-text" style="margin-bottom: 10px;">
            <label class="layui-form-label">8.您对本课程有何意见和建议</label>
            <div class="layui-input-block">
                <textarea name="question8" class="layui-textarea"></textarea>
            </div>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            layui.use(['form', 'element', 'layer'], function () {
                var getIdByParam = function () {
                    var url = location.href;
                    var allParam = url.split("?")[1];
                    return allParam.split("=")[1];
                };
                var form = layui.form;
                $.get("/survey/get",{id:getIdByParam()}, function (response) {
                    form.val('questionnaire', response.data);
                });
            });
        });
    </script>
</div>
<footer id="block-AR" class="qy-footer" data-asyn-pb="true">
    <div class="footer-content">
        <div class="footer-law">
            <ul id="AR_ftList" class="law-list">
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_6"
                                        title="广播电视节目制作经营许可证 (京)字第1938号"
                                        class="law-link ">
                    广播电视节目制作经营许可证 (京)字第1938号
                </a></li>
                <li class="law-item"><a href="http://beian.miit.gov.cn/" target="_blank" rel="nofollow"
                                        rseat="711219_footer_fawu_7"
                                        title="京ICP备11032965号" class="law-link ">
                    京ICP备11032965号
                </a></li>
                <li class="law-item"><a href="https://www.hd315.gov.cn/beian/view.asp?bianhao=010202012091700001"
                                        target="_blank"
                                        rel="nofollow" rseat="711219_footer_fawu_8" title="经营性网站备案信息" class="law-link ">
                    经营性网站备案信息
                </a></li>
                <li class="law-item"><a
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802020024"
                        target="_blank"
                        rel="nofollow" rseat="711219_footer_fawu_9" title="京公网安备 11010802020024号" class="law-link ">
                    京公网安备 11010802020024号
                </a></li>
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_10"
                                        title="增值电信业务经营许可证 B2-20120273"
                                        class="law-link ">
                    增值电信业务经营许可证 B2-20120273
                </a></li>
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_11"
                                        title="互联网药品信息服务资格证书"
                                        class="law-link ">
                    互联网药品信息服务资格证书
                </a></li>
                <li class="law-item"><a href="javascript:void(0);" rel="nofollow" rseat="711219_footer_fawu_12"
                                        title="食品经营许可证 JY11108111598788"
                                        class="law-link ">
                    食品经营许可证 JY11108111598788
                </a></li>
            </ul>
        </div>
        <div id="AR_jubaomenu" class="footer-jubao"><a href="http://www.12377.cn" target="_blank" rseat="711219_footer"
                                                       rel="nofollow"
                                                       class="jubao-lk">中国互联网举报中心</a> <i class="cutline"></i> <a
                href="//www.12377.cn/node_548446.htm" rseat="711219_footer"
                target="_blank" rel="nofollow" class="jubao-lk">网络举报APP下载</a> <i class="cutline"></i> <a
                href="//www.iqiyi.com/common/announce.html"
                target="_blank" rseat="711219_footer" class="jubao-lk">反盗版和反盗链权利声明</a> <i class="cutline"></i> <span
                class="jubao-lk unlink">违法和不良信息举报电话：400-923-7171</span>
            <i class="cutline"></i> <span class="jubao-lk">举报邮箱：<a href="mailto:jubao365@qiyi.com" rel="nofollow"
                                                                   class="link-txt">jubao365@qiyi.com</a></span>
            <span></span></div>
    </div>
    <div id="AR_copyright" class="copyright">
        Copyright © 2020
        <a target="_blank" rseat="711219_footer" href="//www.iqiyi.com/" class="copyright-lk">爱奇艺</a> <span>All Rights
					Reserved</span></div>
</footer>
</body>
</html>
