<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/base.css" media="all">
    <link rel="stylesheet" href="/static/css/steps.css">
    <!-- 培养申请样式表 -->
    <link rel="stylesheet" href="/static/css/apply.css">
    <script src="/static/js/jquery3.3.1.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/steps.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo" style="background:#233d4a;color:#fff">青年教师助教培养系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/static/images/header.png" class="layui-nav-img">
                    <span class="current-user"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a style="cursor:pointer" class="quit-btn">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" lay-shrink="all">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">功能管理模块</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">视频管理</a></dd>
                        <dd><a href="">教师管理</a></dd>
                        <dd><a href="">课程管理</a></dd>
                        <dd><a href="">分类管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">信息维护</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">税务动态</a></dd>
                        <dd><a href="">课程问卷信息维护</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">数据统计分析</a></li>
                <li class="layui-nav-item"><a href="">数据导出</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © baidu.com - 百度一下 你就知道
    </div>
</div>

</body>
</html>