<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <script src="../../../static/layui/layui.js"></script>
    <script src="/static/js/jquery3.3.1.js"></script>
</head>
<body>
<div class="part" style="padding: 1rem;">
    <table id="teacher" lay-filter="teacher"></table>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        layui.use(['table', 'layer'], function () {
            var table = layui.table;
            var layer = layui.layer;
            table.render({
                elem: '#teacher'
                , height: 800
                , url: '/user/teachers/' //数据接口
                , page: true //开启分页
                , cols: [[ //表头
                    {field: 'id', title: 'ID', width: 300}
                    , {field: 'name', title: '姓名', width: 150}
                    , {field: 'telephone', title: '联系方式', width: 150}
                    , {field: 'course', title: '传授科目', width: 1067}
                ]]
            });
        });
    });
</script>