.qy-footer {
    background: #f8f8f8;
    padding-top: 19px;
    padding-bottom: 36px;
	text-align: center;
}
.qy-footer .copyright .copyright-lk {
    color: #999;
    padding-right: 2px;
}
.qy-footer .footer-content {
    margin: 0 auto;
    line-height: 18px;
}
.qy-footer .footer-jubao {
    text-align: center;
    margin-bottom: 5px;
    line-height: 28px;
}
.qy-footer .jubao-lk {
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    color: #666;
}
.qy-footer .law-item {
    vertical-align: top;
    display: inline-block;
    margin: 0 20px;
}
.qy-footer .law-link {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}
.qy-footer .copyright {
    font-size: 14px;
    text-align: center;
    color: #999;
}
.qy-footer .footer-jubao {
    text-align: center;
    margin-bottom: 15px;
    line-height: 28px;
}