<div class="apply-info-container" style="padding:2rem">
	<form class="layui-form layui-form-pane apply-form">
		<div class="form-title">
			<h1>青年教师助教申请表</h1>
		</div>
		<!-- 第一行 -->
		<div class="layui-row">
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">姓名</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input name">
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">性别</label>
					<div class="layui-input-block">
						<select class="sex">
							<option value="男">男</option>
							<option value="女">女</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">民族</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input nation">
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">出生年月</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input birthday">
					</div>
				</div>
			</div>
		</div>

		<!-- 第二行 -->
		<div class="layui-row">
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">政治面貌</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input politics">
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">职称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input professional">
					</div>
				</div>
			</div>
			<div class="layui-col-xs6">
				<div class="layui-form-item">
					<label class="layui-form-label">所在单位</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input unit">
					</div>
				</div>
			</div>
		</div>

		<!-- 第三行 -->
		<div class="layui-row">
			<div class="layui-col-xs4">
				<div class="layui-form-item">
					<label class="layui-form-label">联系电话</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input telephone">
					</div>
				</div>
			</div>
			<div class="layui-col-xs4">
				<div class="layui-form-item">
					<label class="layui-form-label">QQ/微信</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input we-chat">
					</div>
				</div>
			</div>
			<div class="layui-col-xs4">
				<div class="layui-form-item">
					<label class="layui-form-label">E-mail</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input mail">
					</div>
				</div>
			</div>
		</div>

		<!-- 第四行 -->
		<div class="layui-row">
			<div class="layui-col-xs4">
				<div class="layui-form-item">
					<label class="layui-form-label">毕业学校</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input graduate">
					</div>
				</div>
			</div>
			<div class="layui-col-xs4">
				<div class="layui-form-item">
					<label class="layui-form-label">专业学科</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input major">
					</div>
				</div>
			</div>
			<div class="layui-col-xs4">
				<div class="layui-form-item">
					<label class="layui-form-label">学历/学位</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input degree">
					</div>
				</div>
			</div>
		</div>

		<!-- 第五行 -->
		<div class="layui-row">
			<div class="layui-col-xs7">
				<div class="layui-form-item">
					<label class="layui-form-label">来校工作时间</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input come-time">
					</div>
				</div>
			</div>
			<div class="layui-col-xs5">
				<div class="layui-form-item">
					<label class="layui-form-label">培养起止时间</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input train-time">
					</div>
				</div>
			</div>
		</div>

		<!-- 第六行 -->
		<div class="layui-row">
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">指导教师姓名</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input teacher-name">
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">指导教师性别</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input teacher-sex">
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">指导教师年龄</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input teacher-age">
					</div>
				</div>
			</div>
			<div class="layui-col-xs3">
				<div class="layui-form-item">
					<label class="layui-form-label">指导教师职称</label>
					<div class="layui-input-block">
						<input type="text" class="layui-input teacher-professional">
					</div>
				</div>
			</div>
		</div>

		<!-- 第七行 -->
		<div class="layui-row">
			<div class="layui-col-xs12">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">培养计划</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="(由指导教师、被指导教师根据《烟台大学青年教师助教培养实施办法（试行）》的要求共商制订培养计划，内容包括培养目标、培养内容、主要措施等)" class="layui-textarea train-plan"></textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- 第八行 -->
		<div class="layui-row">
			<div class="layui-col-xs12">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">教研室意见</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容" class="layui-textarea teaching-option"></textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- 第九行 -->
		<div class="layui-row">
			<div class="layui-col-xs12">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">教学单位意见</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容" class="layui-textarea unit-option"></textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- 第十行 -->
		<div class="layui-row">
			<div class="layui-col-xs12" style="border-bottom: 1px solid #e6e6e6">
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">教务处意见</label>
					<div class="layui-input-block">
						<textarea name="desc" placeholder="请输入内容" class="layui-textarea office-option"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button style="float:right;margin-top:1rem" type="button" class="layui-btn" id="apply-save-btn">提交申请
				</button>
			</div>
		</div>
		<script>
			$("#apply-save-btn").click(function() {
				var param = {
					name: $(".name").val(),
					sex: $(".sex").val(),
					nation: $(".nation").val(),
					birthday: $(".birthday").val(),
					politics: $(".politics").val(),
					professional: $(".professional").val(),
					unit: $(".unit").val(),
					telephone: $(".telephone").val(),
					weChat: $(".we-chat").val(),
					mail: $(".mail").val(),
					graduate: $(".graduate").val(),
					major: $(".major").val(),
					degree: $(".degree").val(),
					comeTime: $(".come-time").val(),
					trainTime: $(".train-time").val(),
					teacherName: $(".teacher-name").val(),
					teacherSex: $(".teacher-sex").val(),
					teacherAge: $(".teacher-age").val(),
					teacherProfessional: $(".teacher-professional").val(),
					trainPlan: $(".train-plan").val(),
					teachingOption: $(".teaching-option").val(),
					unitOption: $(".unit-option").val(),
					officeOption: $(".office-option").val()
				};
				debugger;
				$.post("/VideoOnlinePlay/apply/insert", param, function(res) {
					Base.openPage("apply");
				})
			});
		</script>
	</form>
</div>





<li>
	<div class="wenda-listcon mod-qa-list post-row clearfix">
		<div class="headslider qa-medias l"><a href="" target="_blank"><img src="undefined" alt="" width="40px" height="40px"></a></div>
		<div class="wendaslider qa-content"><a href="" target="_blank">undefined</a>
			<p>ceshi</p><span class="r timeago">1587557506000</span>
		</div>
	</div>
</li>
