<div class="approval-container" style="padding: 1.3rem 2rem">
    <h1>培养申请名单</h1>
    <table id="approval" lay-filter="approval"></table>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#approval'
            , height: 580
            , url: '/VideoOnlinePlay/apply/list/' //数据接口
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'name', title: '姓名', width: 80}
                , {field: 'sex', title: '性别', width: 80, sort: true}
                , {field: 'politics', title: '政治面貌', width: 100}
                , {field: 'graduate', title: '毕业学校', width: 110}
                , {field: 'major', title: '大学专业', width: 100}
                , {field: 'unit', title: '单位', width: 180}
                , {field: 'telephone', title: '联系方式', width: 150}
                , {field: 'teacherName', title: '指导老师', width: 150}
                , {field: 'teacherProfessional', title: '指导老师职称', width: 150}
                , {fixed: 'right', width: 70, align: 'center', toolbar: '#barDemo'}
            ]]
        });
        table.on('tool(approval)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
            if (layEvent === 'detail') {
                $.get("/VideoOnlinePlay/apply/detail", {id: data.id}, function (res) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 1,
                            content: res, //这里content是一个普通的String
                            area: ['1000px', '500px']
                        });
                    });
                });
            }
        });
    });

</script>