<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rambler.dao.UserCourseApplyMapper" >
  <resultMap id="BaseResultMap" type="com.rambler.beans.UserCourseApply" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getApplyByUser" resultMap="BaseResultMap">
    select * from user_course_apply where user_id = #{userId} and course_id = #{courseId}
  </select>
  <insert id="insert" parameterType="com.rambler.beans.UserCourseApply" >
    insert into user_course_apply (user_id, course_id, apply_time
      )
    values (#{userId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rambler.beans.UserCourseApply" >
    insert into user_course_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>