<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rambler.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.rambler.beans.UserRole">
    <result column="user_id" property="userId" jdbcType="VARCHAR"/>
    <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
  </resultMap>
  <insert id="insert" parameterType="com.rambler.beans.UserRole">
    insert into user_role (user_id, role_id)
    values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rambler.beans.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 根据用户id查询用户角色 -->
  <select id="searchRoleByUser" resultType="com.rambler.beans.Role">
    SELECT role.id,
           role.name
    FROM `user`
           left JOIN user_role ON user.id = user_role.user_id
           left JOIN role ON role.id = user_role.role_id
    where user.id = #{userId}
  </select>
</mapper>